<!DOCTYPE html>
<html lang="en">

<%- include("./partials/head.ejs") %>
    <link rel="stylesheet" href="about-us.css">

    <body>

        <%- include("./partials/nav.ejs") %>



            <!-- ABOUT US PAGE BEGINS -->

            <section>
                <div class="row">
                    <h1><a> Our Story </a></h1>
                </div>
                <div class="row">
                    <div class="column" id="our_story">
                        <P>Lorem ipsum dolor sited and ametvel, nobised, minimali! Quibusdam temporibus, placeate
                            reessed
                            veritatis
                            optio aliquam illum debitis at, perspiciatis consequatur iure vel, quae ratione.
                            Praesentium.
                            Lorem ipsum dolor sited and ametvel, nobised, minimali! Quibusdam temporibus, placeate
                            reessed
                            veritatis
                            optio aliquam illum debitis at, perspiciatis consequatur iure vel, quae ratione.
                            Praesentium.
                        </P>
                    </div>
                </div>
            </section>
            <section>
                <div class="row">
                    <h1><a> Our Team </a></h1>
                </div>
                <div class="row">
                    <!-- Column 1-->
                    <div class="column">
                        <div class="card">
                            <div class="img-container">
                                <img src="../images/Turki.jpeg" />
                            </div>
                            <h3>Turki Almutairi</h3>
                            <p>Developer</p>
                            <div class="icons">
                                <a href="https://twitter.com/Truevisto" target="_blank">
                                    <i class="fab fa-twitter"></i>
                                </a>
                                <a href="https://www.linkedin.com/in/iialmutairiturki/" target="_blank">
                                    <i class="fab fa-linkedin"></i>
                                </a>
                                <a href="https://github.com/Truevisto" target="_blank">
                                    <i class="fab fa-github"></i>
                                </a>
                                <a href="#">
                                    <i class="fa fa-address-card"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- Column 2-->
                    <div class="column">
                        <div class="card">
                            <div class="img-container">
                                <img src="../images/Unknown_Pic.webp" />
                            </div>
                            <h3>Abdulaziz Albaiz</h3>
                            <p>Developer</p>
                            <div class="icons">
                                <a href="https://mobile.twitter.com/azo30oz/with_replies" target="_blank">
                                    <i class="fab fa-twitter"></i>
                                </a>
                                <a href="https://sa.linkedin.com/in/abdulaziz-albaiz-4aa391239" target="_blank">
                                    <i class="fab fa-linkedin"></i>
                                </a>
                                <a href="https://github.com/azo20oz" target="_blank">
                                    <i class="fab fa-github"></i>
                                </a>
                                <a href="#">
                                    <i class="fa fa-address-card"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <!-- Column 3-->
                    <div class="column">
                        <div class="card">
                            <div class="img-container">
                                <img src="../images/Unknown_Pic.webp"" />
                        </div>
                        <h3>Hamza Zamzami</h3>
                        <p>Designer</p>
                        <div class=" icons">
                                <a href="https://twitter.com/Hamza_Zami" target="_blank">
                                    <i class="fab fa-twitter"></i>
                                </a>
                                <a href="https://www.linkedin.com/in/hamza-zamzami-43724b256/" target="_blank">
                                    <i class="fab fa-linkedin"></i>
                                </a>
                                <a href="https://github.com/HZamzami" target="_blank">
                                    <i class="fab fa-github"></i>
                                </a>
                                <a href="#">
                                    <i class="fa fa-address-card"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- Column 4-->
                    <div class="column">
                        <div class="card">
                            <div class="img-container">
                                <img src="../images/Unknown_Pic.webp" />
                            </div>
                            <h3>Ahmed </h3>
                            <p>Developer</p>
                            <div class="icons">
                                <a href="#">
                                    <i class="fab fa-twitter"></i>
                                </a>
                                <a href="#">
                                    <i class="fab fa-linkedin"></i>
                                </a>
                                <a href="#">
                                    <i class="fab fa-github"></i>
                                </a>
                                <a href="#">
                                    <i class="fa fa-address-card"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

    </body>

</html>